<p-panel header="Pipes personalizados" class="p-2">
  <p>
    Pipes personalidos - Creados por {{'mí' | toggleCase:isUpperCase}}
  </p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button label="ToggleCase" icon="pi pi-search" class="mr-2" (click)="toggleUpperCase()"></p-button>
  </div>

  <div class="p-toolbar-group-end">
    <p-button label="Por nombre" icon="pi pi-sort" styleClass="p-button-success" class="mr-2"
      (click)="filterByProperty('name')"></p-button>
    <p-button label="Puede Volar" icon="pi pi-sort" styleClass="p-button-danger" class="mr-2"
      (click)="filterByProperty('canFly')"></p-button>
    <p-button label="Por color" icon="pi pi-sort" styleClass="p-button-help" class="mr-2"
      (click)="filterByProperty('color')"></p-button>
  </div>
</p-toolbar>

<p-table [value]="heroes | sortBy:filter" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Fly</th>
      <th>Color</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-hero>
    <tr>
      <td>{{ hero.name }}</td>
      <td>{{ hero.canFly | canFly}}</td>
      <td>{{ hero.color }}</td>
    </tr>
  </ng-template>
</p-table>
